/* phusnyd's simpleApp CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    margin-left: 10px;
    border: solid 2px #f1f1f1;
    width: 55%;
    border-radius: 14px;
  }
  
  .banner {
    background-color: #ffc100;
    color: #fff;
    height: 50px;
    max-height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .banner h1 {
    margin-left: 12px;
  }
  main {
    height: 80px;
    display: flex;
    align-items: center;
  }
  .btn {
    margin-left: 16px;
    background-color: #fff;
    border: solid 0.5px #97a5b1;
    color: #97a5b1;
    padding: 14px 18px;
    font-size: 18px;
    border-radius: 8px;
  }
  .btn:hover {
    color: #fff;
    background-color: #737f88;
    cursor: pointer;
  }
  