@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}


.typoraphy-h1 {
  font-size: 45px;;
 }
 
 .text-red {
   color: #f00
 }
 
 .text-black {
   color: #000;
 }


body {
  font-family: "Helvetica Neue",Helvetica,Arial;
  margin: 0;
  padding: 0;

}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid   gray;
  max-width: 30%;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}
.blue-color {
  background-color: blue
}
.container-header {
  background-color: orange;
  width: 100%;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
}

.container-header2 {
  background-color: lightblue;
  width: 100%;
  padding: 0.5rem 1rem;
  color: lightblack;
  border: none;
  text-align: center;
}
.container-title {
  margin: 0;
  font-weight: bold;

}
.btn {
  margin: 1rem;
  color: gray;
  background-color: white;
  padding: 0.7rem, 1rem;
  border-radius: 10px;
  border: 2px solid black;

}
.btn:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
.container-btn {
  margin: 1rem;
  width: 15%;
  
  color: lightslategray;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid black;
}
.container-btn:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
.container-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divBox {
  width: 10%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: black;
  float: left;
  list-style: none;
}

.divA {
  background-color: #f00;
  width: 100px;
  height: 50px;
  display: block;
  transition: all .5s linear;
}

.divA:hover {
  display: none;
}

.divB {
  background-color: rgb(234, 207, 0);
  width: 100px;
  height: 50px;
  opacity: 1;
  transition: all .5s linear;
}

.divB:hover {
  opacity: 0;
}

.divParent {
  background-color: #000;
  width: 100%;
  height: 300px;
}

.tonyBoxColor {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.tonyBoxColor div {
  height: 50px;
  width: 45%;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center
}

.tonyBoxColor .red {
  background-color: red
}

.tonyBoxColor .yellow {
  background-color: #ff0
}

.tonyBoxColor .aqua {
  background-color: #0ff
}

.tonyBoxColor .purple {
  background-color: purple
}

.question_board {
  display: flex;
  justify-content: space-between
}

.question_board .column {
  margin: 0 15px 50px;
  width: 33%
}

.question_board .boards {
  display: grid;
  row-gap: 16px;
  margin-top: 20px;
}

.question_board .question {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.question__status {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px
}

.question__status--CORRECT {
  background-color: green
}

.question__status--INCORRECT {
  background-color: red
}

.question__status--PARTIALLY_CORRECT {
  background-color: #000
}

.question__status--none {
  background-color: #dcdcdc
}

#main {
  max-width: 100%;
  width: 760px;
  margin: 60px auto;
  border: 1px solid #000;
}

a.active {
  color: #0a58ca !important
}